{{ _container_storage_dir_base }}/{{ ldap389ds_container_name }}_backups/{{ ldap389ds_container_name }}.config.gz {
 daily
 rotate 20
 copy
 dateext
 dateyesterday
 missingok
 notifempty
 create 660 root root
}

{{ _container_storage_dir_base }}/{{ ldap389ds_container_name }}_backups/{{ ldap389ds_container_name }}.data.gz {
 daily
 rotate 20
 copy
 dateext
 dateyesterday
 missingok
 notifempty
 create 660 root root
}
